@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.header{
    width: 100%;
    height: 95vh;
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 230px 250px 0 0;
}
.hero{
    width: 530px;
    margin-left: auto;
    text-align: right;
}
.hero-title{
    color:#151414;
    font-size: 65px;
    font-weight: 700;
}
.hero-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0 30px;
}
.hero-btn{
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
}
.main{
    margin: 140px 230px;
}
.my-failure{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.failure-img{
    position: relative;
}
.failure-img::after{
    content: '';
    display: inline-block;
    height: 530px;
    width: 530px;
    background-color: #16D887;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
    position: absolute;
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -32%);
}
/* .bg-circle{
    width: 530px;
    height: 530px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
    position: absolute;
    left: 28%;
    top: 63%;
    transform: translate(-50%, -50%);
    z-index: 2;
} */
.failure-content{
    width: 420px;
}
.failure-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.failure-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0 16px;
}
.tick-text{
    margin-bottom: 10px;
}
.tick-text > i{
    color: #16D887;
}
.my-plans{
    text-align: center;
    margin: 130px 0;
}
.plans-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.plans-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.plan-title{
    color:#151414;
    font-size: 30px;
    font-weight: 700;
    margin: 18px 0 16px;
}
.plan-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.call-now{
    height: 300px;
    background-image: url('images/gradient2.png'),url('images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 0px 65px;
}
.call-now-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    width: 460px;
}
.call-now-btn{
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 35px;
    margin-top: 25px;
}

.footer{
    padding: 130px 230px;
    background-color: #151414;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}
.future{
    width: 485px;
}
.future-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}
.future-description{
    margin: 16px 0 24px;
}
.future p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.future-email{
    margin-bottom: 16px;
}
.social-links{
    margin-top: 32px;
}
.social-links a{
    margin-right: 15px;
}

.subscribe-title{
    font-size: 25px;
    font-weight: 600;
}
.subscribe input{
    padding: 20px;
    padding-right: 160px;
    border-radius: 8px;
    border: 1px solid #FFF;
    display: block;
    margin: 32px 0 16px;
}
.subscribe-btn{
    border-radius: 8px;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 35px;
    border: none;
}